body {
    font-family: Brush Script MT
    , sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color :darksalmon;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form input[type="submit"]:hover {
    background-color:darksalmon
  }
  
  .container {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    animation: slide-in 1s ease; /* Apply the animation to the container */
  }
  
  @keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateY(-20px); /* Start position off the screen */
    }
    100% {
      opacity: 1;
      transform: translateY(0); }}